.sidebar-contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width:$breakpoint_medium) {
        flex-direction: column;
        justify-content: center;
    }
        
    & > .contact-name {
        font-size: 16px;
    }
}