$swatch_1: #fdfdfe;
$swatch_2: #6f7399;
$swatch_3: #e0dadd;
$swatch_4: #584e50;
$swatch_5: #d79689;
$swatch_6: #b4c7a4;
$swatch_7: #a19395;
$user_avatar_size: 110px;
$chat_avatar_size: 40px;
$chat_room_avatar_size: 30px;
$chat_bubble_radius_1: 20px 0 20px 20px;
$chat_bubble_radius_2: 0 20px 20px 20px;
$page_border_size: 2px;
$page_border: $page_border_size solid $swatch_3;
$breakpoint_medium:900px;
$breakpoint_small:500px;
